<%= form_with(model: note, class: "note-form") do |f| %>
  <% if note.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(note.errors.count, "error") %> prevented this form from being saved:</h2>
      <ul>
        <% note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="note-form-block">
    <%= f.label :title %>
    <%= f.text_field :title, class: "note-form-input" %>
  </div>

  <div class="note-form-block">
    <%= f.label :body %>
    <%= f.text_area :body, class: "note-textarea" %>
  </div>

  <div>
    <%= f.submit note.new_record? ? "Create" : "Update", class: "button" %>
  </div>
<% end %>

