<% content_for :page_title do %>
  <span class="page-title">Notes</span>
<% end%>

<div class="note-create-link">
  <%= link_to "+ Add new note", new_note_path, class: "button" %>
</div>

<table class="note-table">
  <thead>
    <tr>
      <th class="note-title">Title</th>
      <th class="note-author">Author</th>
      <th class="note-updated-at">Updated at</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td class="note-title"><%= link_to note.title, note_path(note), class: "td-link" %></td>
        <td class="note-author"><%= link_to note.user.email, user_path(note.user.email), class: "td-link" %></td>
        <td class="note-updated-at"><%= note.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @notes %>
