<% content_for :page_title do %>
  <span class="page-title">Notes</span>
<% end%>

<div class="note-create-link">
  <%= link_to "+ Add new note", new_note_path, class: "button" %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Updated at</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= link_to note.title, note_path(note) %></td>
        <td class="note-body"><%= note.body %></td>
        <td><%= note.updated_at %></td>
        <td><%= note.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @notes %>
