<% content_for :page_title do %>
  <span class="page-title">Notes</span>
<% end%>

<div class="note-create-link">
  <%= link_to "+ Add new note", new_note_path, class: "button" %>
</div>

<table class="note-table">
  <thead>
    <tr>
      <th class="note-title">
        <%= link_to "Title", notes_path(sort_column: 'title', sort_direction: @sort_column == 'title' && @sort_direction == 'asc' ? 'desc' : 'asc') %>
        <%= sort_icon('title') %>
      </th>
      <th class="note-author">
        <%= link_to "Author", notes_path(sort_column: 'author', sort_direction: @sort_column == 'author' && @sort_direction == 'asc' ? 'desc' : 'asc') %>
        <%= sort_icon('author') %>
      </th>
      <th class="note-updated-at">
        <%= link_to "Updated at", notes_path(sort_column: 'updated_at', sort_direction: @sort_column == 'updated_at' && @sort_direction == 'asc' ? 'desc' : 'asc') %>
        <%= sort_icon('updated_at') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td class="note-title"><%= link_to note.title, note_path(note), class: "td-link" %></td>
        <td class="note-author"><%= link_to note.user.email, user_path(note.user.email), class: "td-link" %></td>
        <td class="note-updated-at"><%= note.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @notes %>
