<h1><%= @note.title %></h1>

<div>
  <%= @note.html_body %>
</div>

<% if current_user == @note.user %>
  <%= link_to 'Edit', edit_note_path(@note) %>
  <%= link_to 'Delete', @note, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% end %>

<%= link_to 'Back', :back %>
