<% content_for :page_title do %>
  <span class="page-title"><%= @note.title %></span>
<% end%>

<div class="note-body">
  <%= @note.html_body %>
</div>


<div class="note-show-links">
  <%= link_to 'Back', notes_path, class: "button left" %>
  <% if current_user == @note.user %>
    <%= link_to 'Edit', edit_note_path(@note), class: "button right" %>
    <%= link_to 'Delete', @note,
                          data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure you want to delete this? This action cannot be undone."
                            },
                          class: "button-red right" %>
  <% end %>
</div>
