<section>
  <% content_for :page_title do %>
    <span class="page-title"><%= @user.email %></span>
  <% end%>
  <% if current_user == @user %>
    <%= link_to "Edit", edit_user_registration_path %>
  <% end %>
</section>

<section>
  <h2>Notes</h2>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Updated at</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <% @user.notes.each do |note| %>
        <tr>
          <td><%= link_to note.title, note_path(note) %></td>
          <td class="note-body"><%= note.body %></td>
          <td><%= note.updated_at %></td>
          <td><%= note.user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @notes %>
</section>

<% if current_user == @user %>
  <section>
    <h2>Access Token</h2>
    <% if @user.access_token.present? %>
      <button disabled>create</button>

      <table>
        <tr>
          <td>Token</td>
          <td id="access-token"><%= @user.access_token.token %></td>
          <td><i id="clipboard-btn" style="cursor: pointer" data-clipboard-target="#access-token" class="fa fa-copy"></i></td>
          <td>
            <%= link_to access_token_path(@user.access_token),
                        data: {
                          turbo_method: :delete,
                          turbo_confirm: 'Are you sure?'
                        } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      </table>
    <% else %>
      <%= form_with url: access_tokens_path, method: :post do |f| %>
        <%= f.submit 'create' %>
      <% end %>
    <% end %>
  </section>
<% end%>
