<% content_for :page_title do %>
  <span class="page-title">Log in</span>
<% end%>

<div class="user-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="user-form-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="user-form-field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="remember-me">
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      <% end %>
    </div>

    <%= f.submit "Log in", class: "button" %>
  <% end %>
</div>

<%= link_to "Forgot your password?", new_password_path(resource_name) %>
