<h1>AnnotationGuidelines</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Updated at</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    <% @annotation_guidelines.each do |guideline| %>
      <tr>
        <td><%= guideline.title %></td>
        <td><%= guideline.body %></td>
        <td><%= guideline.updated_at %></td>
        <td><%= guideline.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @annotation_guidelines %>
